<app-hero-section />
<app-section title="Browse The Range" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
   <app-categories-section />
</app-section>
<app-section title="Our Products">
   <app-products-section />
</app-section>
<app-section [ignoreLimitContentWidth]="true" [darkerBackgroundColor]="true">
   <app-room-inspiration-section />
</app-section>
<app-section preText="Share your setup with" title="#FurniroFurniture" [ignoreLimitContentWidth]="true">
   <app-share-furniture-section />
</app-section>
