section {
   width: 100%;
   background-color: var(--backgroundPrimary);
   padding: calc(var(--sideSpace) * 2) var(--sideSpace);

   &.darkerBackgroundColor {
      background-color: var(--backgroundTertiary);
   }

   .preText {
      font-weight: 600;
      text-align: center;
      color: var(--foregroundPrimary);
      margin-bottom: var(--sideSpace);
   }

   .title {
      text-align: center;
      color: var(--foregroundPrimary);
   }

   .description {
      text-align: center;
      color: var(--foregroundSecondary);
   }

   .content {
      width: 100%;
      max-width: var(--maxContentWidth);
      margin-inline: auto;

      &.withTopPadding {
         padding-top: calc(var(--sideSpace) * 2);
      }
   }
}
