<div class="imagesHolder">
   <div class="columnItem right">
      <div class="rowItem bottom">
         <app-asset name="inspirationImage1" [cover]="true" [width]="270" [height]="380" />
         <app-asset name="inspirationImage2" [cover]="true" [width]="450" [height]="300" />
      </div>
      <div class="rowItem §">
         <app-asset name="inspirationImage3" [cover]="true" [width]="380" [height]="320" />
         <app-asset name="inspirationImage4" [cover]="true" [width]="340" [height]="240" />
      </div>
   </div>

   <div class="columnItem">
      <app-asset name="inspirationImage5" [cover]="true" [width]="290" [height]="390" />
   </div>

   <div class="columnItem left">
      <div class="rowItem bottom">
         <app-asset name="inspirationImage6" [cover]="true" [width]="290" [height]="340" />
         <app-asset name="inspirationImage7" [cover]="true" [width]="430" [height]="430" />
      </div>
      <div class="rowItem top">
         <app-asset name="inspirationImage8" [cover]="true" [width]="170" [height]="240" />
         <app-asset name="inspirationImage9" [cover]="true" [width]="250" [height]="190" />
      </div>
   </div>
</div>
