.card {
   position: relative;
   width: 260px;
   background-color: var(--backgroundSecondary);

   img {
      width: 100%;
      height: 340px;
      object-fit: cover;
   }

   .content {
      padding: var(--sideSpace);

      h3 {
         color: var(--foregroundPrimary);
      }

      .description {
         color: var(--foregroundSecondary);
         margin-bottom: var(--sideSpace);
      }

      .priceHolder {
         display: flex;
         align-items: center;

         p {
            font-weight: 600;
            color: var(--foregroundPrimary);
         }
      }
   }

   .discountBadge,
   .isNewBadge {
      display: flex;
      position: absolute;
      width: 42px;
      height: 42px;
      top: var(--sideSpace);
      right: var(--sideSpace);
      align-items: center;
      justify-content: center;
      font-size: 12px;
      text-align: center;
      border-radius: 999px;
   }

   .discountBadge {
      background-color: var(--error);
      color: var(--backgroundPrimary);
   }

   .isNewBadge {
      background-color: var(--info);
      color: var(--backgroundPrimary);
   }

   .overlay {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #00000080;
      gap: var(--sideSpace);
      opacity: 0;

      .actions {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: var(--gap);

         .item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: var(--sideSpace);
            cursor: pointer;

            p {
               color: var(--backgroundPrimary);
            }

            &:hover {
               filter: brightness(0.8);
            }
         }
      }
   }

   &:hover {
      .overlay {
         opacity: 1;
      }
   }
}
