.iconButton {
   display: flex;
   width: 38px;
   height: 38px;
   background-color: #00000000;
   border-radius: 999px;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   border: none;
   outline: none;

   &:hover {
      background-color: #00000010;
   }
}
