button {
   font-weight: 700;
   color: var(--backgroundPrimary);
   background-color: var(--primary);
   border: none;
   outline: none;
   cursor: pointer;
   padding: var(--sideSpace) calc(var(--sideSpace) * 2);
}
